<!DOCTYPE html>
<html>
<head>
    <title>Weather Information</title>
</head>
<body>
    <h1>Weather Information</h1>
    
    <table>
        <tr>
            <th>Day</th>
            <th>Weather Type</th>
            <th>Update Weather Type</th>
        </tr>
        {% for weather in weather_data %}
        <tr>
            <td>{{ weather.Day }}</td>
            <td>{{ weather.Weather_Type }}</td>
            <td>
                <form method="post" action="{% url 'update_weather_type' weather.id %}">
                    {% csrf_token %}
                    <input type="text" name="weather_type" value="{{ weather.Weather_Type }}">
                    <input type="submit" value="Update">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>

