<?xml version="1.0" encoding="UTF-8"?>
<vxml version="2.1">

<form>
<block>



        <prompt>
            <audio src="https://ict4d-g4.onrender.com/static/render/wavs/fr/fr_41.wav"/>
        
            <if cond="{{ seed_period }} == 'Today'">
                <audio src="https://ict4d-g4.onrender.com/static/render/wavs/fr/fr_42.wav"/>
            <elseif cond="{{ seed_period }} == 'Yesterday'"/>
                <audio src="https://ict4d-g4.onrender.com/static/render/wavs/fr/fr_43.wav"/>
            <elseif cond="{{ seed_period }} == 'Season'"/>
                <audio src="https://ict4d-g4.onrender.com/static/render/wavs/fr/fr_44.wav"/>
            </if>  

            <foreach item="crop" array="{{ crops_today }}">
                <if cond="crop == 'Maize'">
                    <audio src="https://ict4d-g4.onrender.com/static/render/wavs/fr/fr_23.wav"/>
                <elseif cond="crop == 'Ground Nuts'"/>
                    <audio src="https://ict4d-g4.onrender.com/static/render/wavs/fr/fr_24.wav"/>
                <elseif cond="crop == 'Soy Beans'"/>
                    <audio src="https://ict4d-g4.onrender.com/static/render/wavs/fr/fr_25.wav"/>
                </if>
            </foreach>

            <audio src="https://ict4d-g4.onrender.com/static/render/wavs/fr/fr_11.wav"/>
        </prompt>


</block>
</form>
</vxml>
