<?xml version="1.0" encoding="UTF-8"?>
<vxml version="2.1">

<form>
<block>


    {% if  len(crops_today) > 0 %}
    <prompt>
        You can seed <break time="200ms"/>
        {% for crop in crops_today %}
            {{ crop }} 
            <break time="500ms"/>
        {% endfor %}

         Thank you for using the service. Have a nice day.
   </prompt>
    {% else %}
    <prompt>
         The weather is not suitable for seeding any crops today. Thank you for using the service. Have a nice day.
   </prompt>
    {% endif %}


</block>
</form>
</vxml>
