<?xml version="1.0" encoding="UTF-8"?>
<vxml version="2.1">

<form>
<block>
<prompt>
    <audio src="https://ict4d-g4.onrender.com/static/render/wavs/dg/dg_41.m4a"/>

    <if cond="{{ crop }} == 'Maize'">
        <audio src="https://ict4d-g4.onrender.com/static/render/wavs/dg/dg_23.m4a"/>
    <elseif cond="{{ crop }} == 'Ground Nuts'"/>
        <audio src="https://ict4d-g4.onrender.com/static/render/wavs/dg/dg_24.m4a"/>
    <elseif cond="{{ crop }} == 'Soy Beans'"/>
        <audio src="https://ict4d-g4.onrender.com/static/render/wavs/dg/dg_25.m4a"/>
    </if>  
    
    <if cond="{{ seed_period }} == 'Today'">
        <audio src="https://ict4d-g4.onrender.com/static/render/wavs/dg/dg_42.m4a"/>
    <elseif cond="{{ seed_period }} == 'Yesterday'"/>
        <audio src="https://ict4d-g4.onrender.com/static/render/wavs/dg/dg_43.m4a"/>
    <elseif cond="{{ seed_period }} == 'Season'"/>
        <audio src="https://ict4d-g4.onrender.com/static/render/wavs/dg/dg_44.m4a"/>
    </if>  

    <audio src="https://ict4d-g4.onrender.com/static/render/wavs/dg/dg_11.m4a"/>
</prompt>
</block>
</form>
</vxml>
