{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">  
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Bo Saha Koli</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
</head>
<body>
    <header class="container mt-4 mb-4">
            <img src="{% static "render/logo.png" %}" alt="Logo" class="mw-100">
            <h1 class="display-4"> Bo Saha Koli</h1>
    </header>
<main class="container">
  
    A  simple database is created and a basic backend data entry screen for Weather and Crop Information is provided.  The database model is shown below for reference.

</main>

<header class="container mt-4 mb-4">
    <img src="{% static "render/tables.png" %}" alt="Database Tables" class="mw-100">
</header>

<h1>Weather Information</h1>
    
<table>
    <tr>
        <th>Day</th>
        <th>Weather Type</th>
        <th>Update Weather Type</th>
    </tr>
    {% for weather in weather_data %}
    <tr>
        <td>{{ weather.Day }}</td>
        <td>{{ weather.Weather_Type }}</td>
        <td>
            <form method="post" action="{% url 'update_weather_type' weather.id %}">
                {% csrf_token %}
                <input type="text" name="weather_type" value="{{ weather.Weather_Type }}">
                <input type="submit" value="Update">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

<BR>
<BR>

<h1>Crop Information</h1>
    
<table>
    <tr>
        <th>Crop Type</th>
        <th>Seeding Day</th>
        <th>Update Seeding Day</th>
    </tr>
    {% for crop in crop_data %}
    <tr>
        <td>{{ crop.Crop_Name }}</td>
        <td>{{ crop.Seeding_Day }}</td>
        <td>
            <form method="post" action="{% url 'update_seeding_day' weather.id %}">
                {% csrf_token %}
                <input type="text" name="seeding_day" value="{{ crop.Seeding_Day }}">
                <input type="submit" value="Update">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>