{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">  
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Bo Saha Koli</title>

</head>
<body>
    <table border="0">
        <tr>
            <td>
                <img src="{% static "render/logo.png" %}" alt="Logo">             
            </td>
            <td>
                <h1 > Bo Saha Koli</h1> 
            </td>
        </tr>

        <tr>
            <td>
                A  simple database is created and a basic backend data entry screen for Weather and Crop Information is provided.  The database model is shown  for reference.
            </td>
            <td>
                <img src="{% static "render/tables.png" %}" alt="Database Tables" >
            </td>
        </tr>

    </table>

   
A simple backend data-entry for Weather and Crop Information:


<h1>Weather Information: - Weather Type is one of [Storm, Heavy Rain, Moderate Rain, Drizzle, No Rain]</h1>
    
<table border="1">
    <tr>
        <th>Day</th>
        <th>Weather Type  </th>
        <th>Update Weather Type</th>
    </tr>
    {% for weather in weather_data %}
    <tr>
        <td>{{ weather.Day }}</td>
        <td>{{ weather.Weather_Type }}</td>
        <td>
            <form method="post" action="{% url 'update_weather_type' weather.id %}">
                {% csrf_token %}
                <input type="text" name="weather_type" value="{{ weather.Weather_Type }}">
                <input type="submit" value="Update">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

<BR>
<BR>

<h1>Crop Information: Seeding Day is one of [Yesterday, Today, Text suggesting a period</h1>
    
<table border="1">
    <tr>
        <th>Crop Type</th>
        <th>Seeding Day</th>
        <th>Update Seeding Day</th>
    </tr>
    {% for crop in crop_data %}
    <tr>
        <td>{{ crop.Crop_Name }}</td>
        <td>{{ crop.Seeding_Day }}</td>
        <td>
            <form method="post" action="{% url 'update_seeding_day' crop.id %}">
                {% csrf_token %}
                <input type="text" name="seeding_day" value="{{ crop.Seeding_Day }}">
                <input type="submit" value="Update">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>